@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #8AA66F, #A9BF93);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #78896899;
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1 {
    color: #284010;
    text-align: center;
    text-shadow: 1px 1px 1px #273e10;
}

h2 {
    color: #8AA66F;
}

p {
    text-align: justify;
}